body {
    background: pink;
    text-align: center;
    font-family: Comic Sans MS;
    overflow: hidden;
}

.container {
    margin-top: 80px;
}

h1 {
    font-size: 32px;
    color: red;
}

button {
    padding: 15px 30px;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: hotpink;
    color: white;
    margin: 10px;
}

#hug {
    font-size: 45px;
    color: red;
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Floating hearts */
.heart {
    position: fixed;
    color: red;
    font-size: 20px;
    animation: floatUp 4s linear infinite;
}

@keyframes floatUp {
    0% { bottom: 0; opacity: 1; }
    100% { bottom: 100vh; opacity: 0; }
}
